<div id="list">
  <button (click)="listEmp()">List</button>
</div>

<div id='employeeList' *ngIf="list">
  <ul class="employees">
    <div id='employeeRow'>
      <li *ngFor="let employee of result" (click)="onSelect(employee)">
        <span class="badge">ID : {{employee.id}}</span> NAME: {{employee.name}} DESIGNATION: {{employee.designation}}
        AGE: {{employee.age}} SALARY: {{employee.salary}}
        <div id='delButton'>
          <button (click)="deleteEmp(employee)">Delete</button>
        </div>
      </li>
    </div>
  </ul>
</div>

<div *ngIf="selectedEmployee">
  <h2>{{selectedEmployee.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedEmployee.id}}</div>
  <div id= 'employeeDetails'>
    <label>name:
      <input [(ngModel)]="selectedEmployee.name" placeholder="name">
    </label><br>
    <label>designation:
      <input [(ngModel)]="selectedEmployee.designation" placeholder="designation">
    </label><br>
    <label>age:
      <input [(ngModel)]="selectedEmployee.age" placeholder="age">
    </label><br>
    <label>salary:
      <input [(ngModel)]="selectedEmployee.salary" placeholder="salary">
    </label>
  </div>
  <div id='updateButton'>
    <button (click)='updateEmp(selectedEmployee)'>Update</button>
    <button (click)='resetEmp(Employee)'>Reset</button>
  </div>

</div>


<!-- <div id="details">
  <button (click)="goHome()">Home</button>
  <app-employee-detail [employee]="selectedEmployee"></app-employee-detail>
</div> -->